* {
  /*border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;

  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
}

h2,
h3,
p {
  text-align: center;
}

p,
li {
  font-size: 22px;
}

/* HEADER */

header {
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;

  background-color: black;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  margin-left: auto;
  margin-right: 10px;
  width: 400px;
}

header nav ul {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

header nav ul li a:link,
header nav ul li a:visited {
  color: seashell; /* links remain with the color scheme */
}

/* MAIN */

main {
  margin-top: 69px; /* FIXME: this causes nav links to not work correctly */

  display: flex;
  flex-direction: column;
  align-items: center;
}

#mission-section img {
  height: 700px;
}

#totm-container {
  display: flex;
}

.totm-img {
  height: 200px;
  width: 300px;
}

figcaption {
  text-align: center;
}

#locations-container {
  display: flex;
}

.location {
  width: 300px;
}

#locations-section img {
  height: 500px;
}

/* FOOTER */

.contact-details {
  font-size: 14px;
}

.copyright {
  text-align: left;
  font-size: 14px;
}
